.app{
  display:flex;
  place-items: center;
  /* background-color: aqua; */
  height:100vh;
  justify-content: center;


}

.main {
  padding:30px;
  display:flex;
  flex-direction:column;
  align-items: center;
  position:relative;
  height:90vh;
  width:98vw;

  
}
input:focus{
  outline:none;
  box-shadow:none;
  border-color:transparent;
}

.each {
  padding: 20px;
}
.chart{
  height:49vh;
  width:70vw;
  position:relative;
}
.datapoints{
  display:flex;
  flex-direction: row;
}
#dataPoints:focus{
  border: 2px solid #24d0e3;
  border-radius: 4px;

}
.inputs{
  margin:7px;
}

.item{
  display:flex;
  justify-content: center;
}



